.content {
    padding: 25px;
}

.input {
    width: fit-content;
}

.button-zone {
    margin-top: 50px;
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .input {
        width: 100%;
    }
}