.content {
    padding: 25px;
}

.input {
    width: 100%;
}

.button-zone {
    margin-top: 50px;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.header {
    margin: 25px
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .input {
        width: 100%;
    }

    .box {
        width: 100%;
    }
}